
/*
#wrapper {width:1000px;}
*/

body	{background-color:#eeeeee;}
body {font-family:Arial, Helvetica, sans-serif; {font-size:12px;}
h2		{background-color:#FFCC99;}
legend {font-size:16px; font-weight:bold;}

#task {width:900px;background-color:fuchsia}